/* Fonts */

@font-face {
    font-family: 'Recoleta Medium';
    src: url('assets/fonts/recoleta-medium-webfont.woff2') format('woff2'),
         url('assets/fonts/recoleta-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Recoleta';
    src: url('assets/fonts/recoleta-regular-webfont.woff2') format('woff2'),
	url('assets/fonts/recoleta-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* CSS Time, Motherfathers */

body,html {
    margin: 0;
    padding: 0;
}

body {
    border-top: 5px solid #44A671;
    font-family: 'Recoleta', serif;
    font-size: 18px;
}

h1,
h2,
h3 {
    margin: 0;
    font-weight: normal;
    font-family: 'Recoleta Medium', serif;
}

.wrapper {
    margin: 0 auto;
    padding: 0;
    max-width: 500px;
    width: 95%;
}

.primary-header {
    box-sizing: border-box;
    display: flex;
    padding: 40px 20px;
    align-items: center;
}

.back-button {
    display: inline-block;
    width: 22px;
    height: 24px;
    text-indent: -9999em;
    background: url('assets/arrow-left-short.svg') left no-repeat;
    opacity: 0.4;
}

.toggle-visibility {
    text-indent: -999em;
    width: 24px;
    height: 24px;
    background: url('assets/icon-visibility-off.svg') center no-repeat;
    border: none;
}

.toggle-visibility.visible {
    background: url('assets/icon-visibility-on.svg') center no-repeat;
}

.primary-logo {
    display: block;
    margin: 0 auto;
    width: 32px;
    height: 48px;
    background: url('assets/plants-logo.svg') center no-repeat;
    text-indent: -9999em;
}

img {
    display: block;
    max-width: 100%;
}

.plant-thumb {
    display: block;
    margin: 0 0 40px;
    color: #000;
    text-decoration: none;
}

.plant-thumb img {
    margin: 0 0 20px;
}

.plant-thumb span {
    display: block;
    font-weight: normal;
    font-family: 'Recoleta Medium', serif;
    background: url('assets/arrow-right-long.svg') right center no-repeat;
}

.page-header {
    max-width: 90%;
    margin: 0 auto 40px;
    text-align: center;
}

.page-header h1 {
    margin: 0 0 20px;
    font-size: 36px;
    line-height: 1;
}

.page-header p {
    margin: 0;
    line-height: 26px;
}

.plant-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.plant-wrapper ul,
.plant-wrapper li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.plant-wrapper img {
    border-radius: 50%;
}

.plant {
    position: relative;
    box-sizing: border-box;
    padding: 6px;
    flex: 0 0 33.333333%;
}

.text-overlay {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    background: rgba(22,64,41,0.8);
    border-radius: 50%;
    margin: 6px;
    width: calc(100% - 12px);
    height: calc(100% - 12px);
    color: #fff;
}

.text-overlay.visible,
.plant.visible .text-overlay {
    display: block;
}

.text-overlay p {
    box-sizing: border-box;
    padding: 0;
    width: 100%;
    position: absolute;
    margin: 0;
    top: 50%;
    left: 0%;
    transform: translateY(-50%);
    font-size: 15px;
}

.quick-nav {
    max-width: 500px;
    width: 100%;
    box-sizing: border-box;
    margin: 40px auto 0;
    padding: 40px 40px 10px;
    background:#27734A;
}

.quick-nav a {
    color: #fff;
}

.quick-nav span {
    background: url('assets/arrow-right-long-white.svg') right center no-repeat;
}